/* Some Overides to Prism Styles */
:root {
  --prism-padding: 1.5em;
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: 16px;
  text-shadow: none;
}

pre[class*="language-"] {
  padding: var(--prism-padding);
  margin: 0 0 var(--prism-padding) 0;
  border: none;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #282b2f;
}

/* Style inline */

p > code {
  background: #2980b91a;
  color: #545454;
  padding: 3px 6px;
  font-size: 0.8em;
  line-height: 1em;
  border-radius: 3px;
  white-space: pre-wrap;
}

/* Data Line Plugin */
pre[data-line] {
  padding: var(--prism-padding) !important;
}

.line-highlight {
  margin-top: var(--prism-padding) !important;
  padding-top: 2px;
  background: hsla(24, 20%, 50%, 0.08);
  background: linear-gradient(
    to right,
    hsla(215, 14%, 33%, 0.2) 70%,
    hsla(215, 14%, 33%, 0)
  ) !important;
}

.line-highlight:before,
.line-highlight[data-end]:after {
  display: none;
}
